# Archivos y directorios que deben ser ignorados
/node_modules/
/cypress/screenshots/
/cypress/videos/
/cypress/fixtures/credentials.json
/cypress/reports/

# Archivos de entorno y configuración local
.env
.env.local
.env.development
.env.test

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/

# Archivos de logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*